@import "tailwindcss";

@theme {
    --color-brand-dark: #274C77;
    --color-brand-accent: #06AED5;
    --color-brand-white: #F5FBEF;

    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 40s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.app-marquee {
    display: flex;
    width: max-content;
    animation: marquee 40s linear infinite;
}

.app-marquee:hover {
    animation-play-state: paused;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 0.8s ease-out forwards;
}

.animation-delay-200 {
    animation-delay: 0.2s;
}

.animation-delay-400 {
    animation-delay: 0.4s;
}